/* Infini CSS */
:root {
    --theme-blue: #0060DF;
    --theme-blue-hover: #45A1FF;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::before,
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

body::before {
    background: radial-gradient(circle,#283584 40%,#1e2237);
}

body .navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-text {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

.navbar-nav > li > .dropdown-menu {
    margin-top: -15px;
}

body > .container {
    
    background-color: #FFFFFF;
    padding: 3em;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #333333;
    
    
    font-size: 1.15em;
    background-image: url('../img/infini.svg');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: -125px calc(100% + 140px);
}

body > .container::before,
body > .container::after {
    display: none;
}

body > .container > * {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

body.page_index > .container .jsonly {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

body.page_index > .container .col {
    width: calc(50% - 2em);
}

body .logo {
    display: none;
}

body .header {
    margin-bottom: 2em;
}

body .hennypenny {
    color: var(--theme-blue);
    margin-top: 0;
    font-family: sans-serif;
}

body.page_index label {
    font-weight: normal;
    display: block;
    margin: 1em 0;
}

body.page_index input[type='checkbox'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    position: static;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    background-color: #555555;
    width: 3rem;
    height: 1.5rem;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    border: none;
    border-radius: 1em;
}

body.page_index input[type='checkbox']:checked {
    color: #FFFFFF;
    background-color: var(--theme-blue);
    justify-content: flex-end;
}

body.page_index input[type='checkbox']::after {
    content: '';
    margin: 0 0.15rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: white;
}

body.page_index .uploader-container {
    display: flex;
    flex-direction: column;
}

body.page_index .uploader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    border: 2px dashed #DDDDDD;
    border-radius: 5px;
    color: #6F7986;
}

body.page_index .uploader:hover {
    background-color: #FDFEFF;
}

body.page_index .uploader div.browser label {
    background-color: var(--theme-blue);
}

body.page_index .uploader-container form .label {
    display: block;
}

body .btn {
    background-color: var(--theme-blue);
    color: white;
    padding: 0.5em;
    border: 0;
}

body .btn:focus,
body .btn:hover,
body .btn:active {
    background-color: var(--theme-blue-hover);
}

body.page_gallery > .container .container {
    width: auto;
}