/* Infini CSS */
:root {
    --theme-blue: #0060DF;
    --theme-blue-hover: #45A1FF;
}

body {
    background: radial-gradient(circle,#283584 40%,#1e2237);
    padding: 0;
}

a {
    color: var(--theme-blue);
}

a:focus,
a:hover {
    color: var(--theme-blue-hover);
}

body > .container {
    
    background-color: #FFFFFF;
    margin-top: 4em;
    padding: 3em;
    max-width: 1170px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #333333;
    
    font-size: 1.15em;
    background-image: url('../images/infini.svg');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: -125px calc(100% + 140px);
}

.container main {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

header h1 a:hover {
    text-decoration: none;
}