/* Infini CSS */
:root {
    --theme-blue: #0060DF;
    --theme-blue-hover: #45A1FF;
}

body {
    background: radial-gradient(circle,#283584 40%,#1e2237);
}

.cyan {
    background-color: var(--theme-blue) !important;
}

nav.cyan {
    background-color: transparent !important;
    box-shadow: none    ;
}

body > .container {
    
    background-color: #FFFFFF;
    padding: 3em;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #333333;
    

    font-size: 1.15em;
    background-image: url('../img/infini.svg');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: -125px calc(100% + 140px);
}

body .btn {
    background-color: var(--theme-blue);
    color: white;
    border: 0;
}

body .btn:focus,
body .btn:hover,
body .btn:active {
    background-color: var(--theme-blue-hover);
}

::placeholder {
    color: #666;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: var(--theme-blue-hover);
}

#files,
body > .container .text-left,
body > .container .responsive-table {
    background-color: rgba(255, 255, 255, 0.8);
}

.center #file_pwd {
    text-align: center;
}